<!doctype html>
<html>
<head>
<title>view-黑色时间轴个人博客模板</title>	
{% autoescape off %}
{{css_and_js}}
{% endautoescape %}
{{ leave_word_form.media }}
</head>
<body>
{% autoescape off %}
{{header}}
{% endautoescape %}
<!--header end-->
<div id="mainbody">
  <div class="blogs">
       <div id="index_view">
           <h1 class="c_titile">{{blog.blog_title}}</h1>
           <p class="box">发布时间：{{blog.blog_time}} <span> 阅读（{{blog.read_times}}）</span></p>
           <ul>
	         {% autoescape off %}
		      {{blog.blog_context}}
		      {% endautoescape %}
           </ul>

      <div class="share"> 
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more">分享到：</span> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <a class="shareCount"></a> </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
        <script type="text/javascript" id="bdshell_js"></script> 
        <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
        <!-- Baidu Button END --> 
      </div>

      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
		{% for  relate_blog in relate_blog_list %}
          <li><a href="{{relate_blog.url}}" title="{{relate_blog.title}}">{{relate_blog.title}}</a></li>
		{% endfor %}
        </ul>
      </div>

       <br>
	   <br>
	    <div class="visitors">
        <h2>文章评论</h2>
        
		{% for  leave_word in leave_word_list %}
		<dl>
    
        <dd>{{leave_word.index}}楼  邮箱:{{ leave_word.visitor_name}}
          时间:<time>{{ leave_word.time }}</time>
        </dd>
     
        <dd>{% autoescape off %} {{ leave_word.leave_word }} {% endautoescape %}</dd>
         </dl>         
		{% endfor %}

      </div>
	  <br>
	  <br>
      <h2>请在此留言</h2>
	  <div class="otherlink">
	  
	  <form action="" method="post">{% csrf_token %}
      <table>
        {{ leave_word_form.as_table }}
	    </table>
	
        <input type="submit" value="Submit">
    
	   </form>
	  </div>
    </div>
    

    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
	  <div class="clicks">
        <h2>博文列表</h2>
        <ol>
	        {%   for blog_tag in total_blog_list %}
		    <li><span><a href="{{blog_tag.url}}"> {{blog_tag.title}}</a></span></li>
		    {% endfor%}
		</ol>
	  </div>
	
 
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->
<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://coolshell.cn/">酷壳</a></li>
      </ul>
    </div>
    
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>