
 
        <!--<div class="container"> -->
	

			<div id="vc-container" class="vc-container">
				<div class="vc-tape-wrapper">
					<div class="vc-tape">
						<div class="vc-tape-back">
							<div class="vc-tape-wheel vc-tape-wheel-left"><div></div></div>
							<div class="vc-tape-wheel vc-tape-wheel-right"><div></div></div>
						</div>
						<div class="vc-tape-front vc-tape-side-a">
							<span>A</span>
						</div>
						<div class="vc-tape-front vc-tape-side-b">
							<span>B</span>
						</div>
					</div>
				</div>
				<div class="vc-loader"></div>
				
			</div><!-- //vc-container -->

	<!--	</div>--><!-- //container -->


				


<div style="display: none">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/4473358.js"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fadd0db9dee36c7a9b64141788e26de72' type='text/javascript'%3E%3C/script%3E"));

</script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21395429-1']);
        _gaq.push(['_trackPageview']);
/*
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
*/
</script>
</div>
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
		<!-- KnobKnob by Martin Angelov : https://github.com/martinaglv/KnobKnob -->
		<script src="/static/js/CassettePlayer/transform.js"></script>
		<script src="/static/js/CassettePlayer/knobKnob.jquery.js"></script>

		<script type="text/javascript" src="/static/js/CassettePlayer/jquery.cassette.js"></script>
		<script type="text/javascript">	
			$(function() {
				
				$( '#vc-container' ).cassette();
						
				});
		</script>
