    
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>燃木的个人网站</title>
    <!-- Bootstrap core CSS -->
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/main.js"></script> 
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="/static/css/CassettePlayer/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/CassettePlayer/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/CassettePlayer/knobKnob.css" />
        <link rel='stylesheet' type='text/css' href='/static/css/CassettePlayer/google_font.css' />
		<script type="text/javascript" src="/static/js/CassettePlayer/modernizr.custom.69142.js"></script> 
